<!-- src/pages/game-detail/game-detail.page.html -->

 @if (game()) {

<section class="wish-detail">
  <figure class="wish-detail__backdrop">
    <img
      [src]="game()!.image"
      alt="Image de couverture de Cyber Nexus 2077"
      width="1600"
      height="900"
    />
  </figure>

  <div class="wish-detail__veil" aria-hidden="true"></div>

  <div class="wish-detail__content">
    <!-- utiliser routerLink pour garder la persistance des données en retournant à l'accueil, href relance une nouvelle instance Angular -->
    <a class="btn btn-ghost btn-sm mt-8" routerLink="/">Retour au catalogue</a>

    <p class="wish-detail__kicker">Fiche jeu</p>
    <h1 class="wish-detail__title">{{ game()!.title }}</h1>

    <div class="wish-detail__meta">
      <span class="badge badge-primary">{{ game()!.genre }}</span>
      <span class="badge badge-outline">{{ game()!.year }}</span>
      <span class="badge badge-ghost">{{ game()!.platform }}</span>
    </div>

    <p class="wish-detail__description">
      {{ game()!.synopsis }}
    </p>

    <ul class="wish-detail__facts" aria-label="Informations sur le jeu">
      <li><strong>Note:</strong> {{ game()!.rating }}/5</li>
      <!-- <li><strong>Duree:</strong> 42h</li> -->
      <li><strong>Etat:</strong>@if (game()!.available) {
        Disponible
        } @else {
        Indisponible
        }
      </li>
    </ul>

    <div class="wish-detail__actions">
      <flix-button type="secondary" (click)="catalog.toggleFavorite(game()!.id)">
        @if (catalog.isFavorite(game()!.id)) {
        Retirer de la wishlist
        } @else {
        Ajouter a la wishlist
        }
        </flix-button>
      <a class="btn btn-outline" href="/wishlist">Voir ma wishlist</a>
    </div>
  </div>
</section>

 } @else {

<section class="wish-detail__missing">
  <h1>Jeu introuvable</h1>
  <p>Ce jeu n existe pas dans le catalogue.</p>
  <a class="btn btn-primary" href="/">Retour a l accueil</a>
</section>

 }